.settings/           
*.launch              
*.cdtproject          

Debug/                
Release/              

*.obj            
*.exe                
*.out                 
*.d                
*.log                  
*.rpt                  

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/

.clangd
.theia/

docs/html/
docs/latex/
docs/xml/

temp-awesome/

workspace_settings.theia-workspace